# Environment Variables - Copy this file to .env and fill in your values

# ─── Server ───────────────────────────────────────────────
PORT=5000

# ─── MongoDB ──────────────────────────────────────────────
MONGO_URI=mongodb://localhost:27017/jobportal

# ─── JWT ──────────────────────────────────────────────────
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# ─── CORS ─────────────────────────────────────────────────
FRONTEND_URL=http://localhost:3000

# ─── CLOUDINARY ─────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME = "dyffdrvyu"
CLOUDINARY_API_KEY = "436852416624234" 
CLOUDINARY_API_SECRET ="koZQlouM4lAeHCSTBy45iGbQDrw"
